server/venv/
.venv/
server/*.log
server/position_state.json
server/position_state.tmp
.env
.env.*
!.env.example
*.exe
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.kilo/
execution.log
oracle_deployemnt_strategy
node_modules/
.pnpm-store/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
dist/
.next/
